input,textarea{
    border: none;
    outline-style: none;
}
textarea{
    font-size: 100%;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
.float-left {
    float: left;
}
/*清除浮动*/
.clear:after {
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.clear {
    zoom: 1;
}

.float-right {
    float: right;
}
/*文本居中*/
.text-center {
    text-align: center;
}
/*div居中*/
.box-center {
    margin: 0 auto;
}
/*绝对居中*/
.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*绝对水平居中*/
.absolute-horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/*绝对垂直居中*/
.absolute-vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*使用方法：再p标签加上改类名并配置line height和height属性，实例已给出*/
/*多行文本溢出补齐....文本*/
.overflow-omit {
    position: relative;
    /*line-height: 1rem;*/
    /*height: 2rem;*/
    overflow: hidden;
}

.overflow-omit::after {
    content: "...";
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 20px 1px 45px;
    background: url(http://newimg88.b0.upaiyun.com/newimg88/2014/09/ellipsis_bg.png) repeat-y;
}

@media screen and (min-width: 320px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 360px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 400px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 440px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: 22px;
    }
}

@media screen and (min-width: 640px) {
    html {
        font-size: 24px;
    }
}

@media screen and (min-width: 680px) {
    html {
        font-size: 26px;
    }
}

@media screen and (min-width: 720px) {
    html {
        font-size: 28px;
    }
}
